body {
    background-color: aliceblue;
    font-size: 1.5em;
    line-height: 150%;
}
#headbox {
    color: blueviolet;
    font-size: 3em;
}
#main {
    color: black;
    font-size: 1.5em;
    position: relative;
}
article {
    float:left;
    border: 2px;
    border-style: solid;
    margin-left: 10%;
    margin-top: 20px;
    width: 45%;
}
#pic1 {
    height: 250px;
    width: auto;
}
#sidebar {
    border: 2px;
    border-style: dashed;
    border-color: peru;
    margin: 10px;
    width: 30%;
    position: relative;
    right: 0;
    top: 15%;
    float:right;
}